/99-output/
/bk_spring_binary_data/
/surface_forcings/output/
/landsat_processing/
/grid_and_bathy/.ipynb_checkpoints/compare_grids-checkpoint.ipynb
/surface_forcings/playground.ipynb

/initial_conditions/simstrat_data/
